db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
.idea

env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/*
app/__pycache__/*
tests/__pychache__/*

.coverage
tests/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/test_models.cpython-311-pytest-7.4.0.pyc

variables.env
app/tests/__pycache__/__init__.cpython-311.pyc
app/tests/__pycache__/test_create.cpython-311-pytest-7.4.0.pyc
app/tests/__pycache__/test_models.cpython-311-pytest-7.4.0.pyc
app/tests/__pycache__/test_views.cpython-311-pytest-7.4.0.pyc
app/tests/__pycache__/test_forms.cpython-311-pytest-7.4.0.pyc
