{% extends 'layout.html' %}

{% block body %}

<h1>About QA Cinemas</h1>
<div>
    Welcome to QA Cinemas, your gateway to a world of cinematic
    excellence. With over two decades of unwavering dedication
    to the magic of the silver screen, QA Cinemas stands as an
    industry-recognized cinema chain, pioneering entertainment 
    since our inception in 2004.
</div>
<h3>Our Story</h3>
<div>
    Our journey began with a vision to create a cinematic experience 
    that transcends time. For the past 20 years, we have meticulously 
    crafted a legacy of delivering the best in film entertainment. 
    From our humble beginnings in the Northwest of England, we have 
    grown to become a beloved destination for movie enthusiasts of all ages.
    <br>
    <img class="image" src="{{ url_for('static', filename='qacinema.jpg') }}" alt="cinema image">
</div>

<h3>A Celebration of Film</h3>
<div>
    At QA Cinemas, we take pride in curating a diverse selection of films, 
    bridging generations and genres. We specialize in showcasing the latest 
    blockbusters, ensuring you're among the first to witness the magic of new 
    releases. But that's not all; we cherish the timeless classics that have 
    left an indelible mark on the history of cinema. From the swinging 
    '60s to the neon-soaked '90s, we bring these iconic films back to life 
    for you to enjoy on the big screen once again.
    <img class="image" src="{{ url_for('static', filename='qacinema2.jpg') }}" alt="cinema image">
</div>
<h3>Our Succes in the Northwest</h3>
<div>
    Our success story is rooted in the hearts of the communities we serve. 
    The Northwest of England has embraced us as their cinematic home, 
    and we are grateful for the loyalty and love we've received. 
    It is this support that has propelled us to consider new horizons.
</div>
<h3>A National Vision</h3>
<div>
    As we set our sights on the future, QA Cinemas is poised for national 
    expansion. But before we embark on this exciting journey, we recognize 
    the importance of enhancing our online presence. We aim to ensure that 
    our brand is not just known but celebrated across the digital landscape. 
    Your online experience with QA Cinemas should be as extraordinary as your 
    visit to our theaters.
</div>
<h3>Join Us on this Journey</h3>
<div>
    We invite you to join us on this thrilling adventure. As we grow, 
    your support and enthusiasm are the pillars of our success. Stay 
    tuned as we unveil a reimagined online platform that will bring 
    the magic of QA Cinemas to your fingertips.
</div>
<br>
<div>
    At QA Cinemas, we are not just about watching movies; we're about 
    creating memories, celebrating storytelling, and fostering a sense 
    of community. Thank you for being part of our cinematic family. Together, 
    we'll continue to make every frame count.
</div>
<br>
<div>
    Experience the future of cinema online. Experience QA Cinemas.
</div>
{% endblock %}