{% extends 'layout.html' %}

{% block body %}
<h1>Contact QA Cinemas</h1>
<div>
    We're here to connect with you, our valued audience, 
    and provide the information and support you need. Whether 
    you have questions, feedback, or simply want to reach out, 
    QA Cinemas is just a message away.
</div>
<h3>Get in Touch</h3>
<div>
    <ul>
        <li>
            <b>Customer Support:</b> Have a query about ticket bookings, showtimes, 
            or any cinema-related inquiries? Our dedicated customer support 
            team is ready to assist you. Send us an email at support@qacinemas.com 
            or call us at +44 123 456 7890.
        </li>
        <li>
            <b>General Inquiries:</b> If you have general questions or want to 
            learn more about QA Cinemas, please don't hesitate to contact us at 
            info@qacinemas.com. We'll be delighted to provide you with the information 
            you seek.
        </li>
    </ul>
</div>
<h3>Visit Us</h3>
<div>
    If you prefer to meet us in person, you can find us at our headquarters:
</div>
<br>
<div>
    QA Cinemas Headquarters
    <br>
    123 Film Street
    <br>
    Cineville, NW1 2AB
    <br>
    United Kingdom
</div>
<br>
<div>
    Our team is always available during regular business hours to welcome you and address your inquiries.
</div>
<h3>Connect with Us Online</h3>
<div>
    Stay updated with the latest news, special screenings, and exclusive offers by following QA Cinemas on social media:
</div>
<div>
    <ul>
        <li><b>Facebook:</b> facebook.com/qacinemas</li>
        <li><b>Twitter:</b> twitter.com/qacinemas</li>
        <li><b>Instagram:</b> instagram.com/qacinemas</li>
    </ul>
</div>
<div>
    We value your feedback and appreciate your interest in QA Cinemas. Your input helps us continue to provide the best cinematic experience possible. 
    Whether you want to share your thoughts, collaborate, or simply say hello, we look forward to hearing from you. Thank you for choosing QA Cinemas 
    as your cinematic destination.
</div>

{% endblock %}