{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <fieldset>
        
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.username.label }} {{ form.username(class="loguptbx", id="usernametbx") }}
            <br>
            <br>
            {{ form.password.label }} {{ form.password(class="loguptbx") }}
            <br>
            <br>
            {{ form.submit(class="logupbtn", id="logupsubmit") }}
        </form>
    </fieldset>
</div>
{% endblock %}