{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <fieldset>
        
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.username.label }} {{ form.username(class="form-control", id="usernametbx") }}
            <br>
            <br>
            {{ form.password.label }} {{ form.password(class="form-control", id="password") }}
            <br>
            <br>
            {{ form.submit(class="form-control", id="logupsubmit") }}
        </form>
    </fieldset>
    <a href="/sign up">New user? click here to create a new account!</a>
</div>
{% endblock %}