{% extends 'layout.html' %}

{% block body %}
<h1>QA Cinemas - Opening Times</h1>
<div>
    We're thrilled to welcome you to QA Cinemas, where every day is a day 
    at the movies. Our carefully curated film selection and top-notch 
    facilities await you, and to make your visit even more convenient, 
    here are our current opening hours:
</div>

<div>Monday - Thursday: 10:00 AM - 10:00 PM</div>
<div>Start your week with the latest blockbusters or indulge in a classic favorite.</div>


<div>Friday - Saturday: 10:00 AM - 11:30 PM</div>
<div>Weekends are for extended movie marathons. Join us for late-night screenings on Fridays and Saturdays.</div>

<div>Sunday: 11:00 AM - 9:30 PM</div>
<div>Sundays are perfect for family outings. Enjoy our matinee and evening shows.</div>

<div>
    Please note that these opening times are subject to change during 
    holidays, special events, or unforeseen circumstances. To ensure 
    you have the most up-to-date information, feel free to check our 
    website or contact our customer support team.
</div>

<h3>Upcoming Holidays and Special Events</h3>
<div>
    At QA Cinemas, we love to celebrate with our audience. During 
    holidays and special occasions, we often have unique screenings 
    and events. Keep an eye on our website, social media pages, and 
    newsletters for announcements about extended hours and exciting 
    film-related festivities.
</div>

<h3>Plan Your Visit</h3>
<div>
    Planning your visit to QA Cinemas is easy, thanks to our flexible 
    opening hours. Whether it's a weekday escape or a weekend adventure, 
    we're here to provide you with the ultimate cinematic experience. 
    From the moment you step into our theaters until the credits roll, 
    expect nothing but the best in entertainment.
</div>

<h3>Contact Us</h3>
<div>Feel free to contact us though the following website page! <a href="/contacts">Contact Us</a></div>

{% endblock %}