{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <fieldset>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.username.label }} {{ form.username(class="form-control", id="usernametbx") }}
            {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted error">
                {% if field=='username' %}
                    {{ ', '.join(errors) }}
                {% endif %}
            </small>
            {% endfor %}
            <br>
            <br>
            {{ form.password.label }} {{ form.password(class="form-control", id="password") }}
            {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted error">
                {% if field=='password' %}
                    {{ ', '.join(errors) }}
                {% endif %}
            </small>
            {% endfor %}
            <br>
            <br>
            {{ form.submit(class="form-control", id="logupsubmit") }}
        </form>
    </fieldset>
    <a href="/login">Existing user? click here to log into your account!</a>
</div>
{% endblock %}